<ul class="nav-items">
  <% if (!locals.isAdmin) { %>
    <li><a href="/">Shop</a></li>
    <li><a href="/cart">Cart</a></li>
  <% } %>  

  <% if (locals.isAuth && !locals.isAdmin) {%>
    <li><a href="/orders">Orders</a></li> <!-- 유저 인증이 된 경우 구매페이지 이용가능 -->
  <% } %>

  <% if (locals.isAdmin) { %> <!-- 관리자 전용 -->
    <li><a href="/admin/products">Manage Products</a></li>
    <li><a href="/admin/orders">Manage Orders</a></li>
  <% } %>

  <% if (!locals.isAuth) { %>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
  <% } %>

  <% if (locals.isAuth) { %>
    <li>
      <form action="/logout" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>"/>
        <button>Logout</button>
      </form>
    </li>
  <% } %>
</ul>